@charset "UTF-8";

:root {
    --cor1: #313638;
    --cor2: #E8E9EB;
    --cor3: #F0544F;
    --cor4: #2D82B7;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3.2em;
    }

    main p.cronometro {
        font-size: 3.2em;
    }

    main div.botoes {
        width: 325px;
    }

    main div.botoes button {
        padding: 15px;
        border-radius: 15px;
    }

    footer {
        font-size: 20px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

main {
    background-color: var(--cor1);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cor2);
}

p.cronometro {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: monospace;
}

div.botoes {
    /* background-color: var(--cor2); */
    width: 250px;
    display: flex;
    justify-content: space-evenly;

}

div.botoes button {
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

button {
    cursor: pointer;
}

.botaoIniciar {
    background-color: var(--cor4);
    color: var(--cor2);
    border: solid 2px var(--cor2);
    transition: all linear 0;
    transition-duration: 0.2s;
}

.botaoPausar {
    background-color: var(--cor3);
    color: var(--cor2);
    border: solid 2px var(--cor2);
    transition: all linear 0;
    transition-duration: 0.2s;
}

.botaoReiniciar {
    background-color: var(--cor1);
    color: var(--cor2);
    border: solid 2px var(--cor2);
    transition: all linear 0;
    transition-duration: 0.2s;
}

.botaoIniciarHover:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    border: solid 2px var(--cor4);
}

.botaoPausarHover:hover {
    background-color: var(--cor2);
    color: var(--cor3);
    border: solid 2px var(--cor3);
}

.botaoReiniciarHover:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    border: solid 2px var(--cor1);
}

.botaoTransparente {
    opacity: 0.5;
    cursor: auto;
}

footer {
    background-color: var(--cor2);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor1);
}

footer>p>a {
    text-decoration: none;
    color: var(--cor4);
}